<form method="post">
    <input type="text" name="firstname" placeholder="firstname"/>
    <input type="text" name="lastname" placeholder="lastname" />
    <input id="email" type="email" name="email" placeholder="email@email.com">
    <input type="password" name="password" placeholder="password">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit">Sign Up</button>
</form>
