<canvas width="400" height="120"></canvas>
<form class="form" method="post">
    <input id="signature" type="hidden" name="signature" value="">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button class="submit" type="submit">Submit</button>
</form>
