<form class="form borderForm" method="post">
    <input id="email" type="email" name="email" placeholder="email@email.com">
    <input type="password" name="password" placeholder="password">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button class="submit" type="submit">Log In</button>
</form>
