<form method="post">
    <input type="text" name="firstname" placeholder="firstname"/>
    <input type="text" name="lastname" placeholder="lastname" />
    <input id="signature" type="hidden" name="signature" value="">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit">Submit</button>
</form>
<canvas width="400" height="120"></canvas>
