{{> headerBlinds }}

<h1>Petition to install blinds in all flats in Germany</h1>
<h2>
    {{ err }}
</h2>

{{> formSignature }}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="script.js"></script>
