{{> navOut }}
{{> headerBlinds }}

<div class="container">
    <h1>Pro-Blinds Movement</h1>

    <h2>Thank you! you are Logged Out! If you want to Log In again, please introduce your credentials below</h2>

    {{> formLogIn }}
    <a href="/register">
        <h3>Are you not register yet? Click here to create an account</h3>
    </a>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
