{{> navOut }}
{{> headerBlinds }}

<div class="container">
    <h2>Thank you! If you want to Log In again, please introduce your credentials below</h2>
    {{ error }}
    {{> formLogIn }}
    <a href="/register">
        <h3>Are you not register yet? Click here to create an account</h3>
    </a>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
