{{> headerBlinds }}

<h1>You didn't signed correctly</h1>

<h2>Please complete all the fields</h2>

{{> formSignature }}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="script.js"></script>
