{{> navIn }}
{{> headerBlinds }}
<div class="container">
    <h2>Petition to install Blinds in every flat in Germany</h2>
    {{> formSignature }}

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="script.js"></script>
