{{> navIn }}
{{> headerBlinds }}
<div class="container">
    <h1>Pro-Blinds Movement</h1>
    <h2>Petition to install Blinds in every flat in Germany</h2>
    <h2>
        {{ err }}
    </h2>

    {{> formSignature }}

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="script.js"></script>
