{{> navIn }}
{{> headerBlinds }}
<div class="container">
    <h2>Thank you for register in the PRO-BLINDS MOVEMENT</h2>
    <h3>We are almost finished! - Extra Information</h3>


    <h2>
        {{ err }}
    </h2>

    {{> formProfile }}

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
