{{> navOut }}
{{> headerBlinds }}

<div class="container">
    <h1>Create account</h1>
    <h2>
        {{ err }}
    </h2>

    {{> formRegister }}

</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
