{{> headerBlinds }}

<h1>THANKS</h1>

<h2>Thanks for Signing the most important petition in the world</h2>

<ul>
<ul>Your Co-Signers!
    {{#each userList }}
        <li>{{ first_name }}</li>
    {{/each}}
</ul>
