{{> headerBlinds }}

<h1>THANKS</h1>

<h2>Thanks for Signing the most important petition in the world</h2>

<img src="{{ user.signature }}" alt="">

<a href="/signed">Look at the people who agree with you!</a>
