{{> navIn }}
{{> headerBlinds }}

<div class="container">
    <h2>Petition to install Blinds in every flat in Germany</h2>
    <h2>Thank you for your contribution to make germany a better place</h2>

    <img src="{{ user.signature }}" alt="">

    <a href="/signed">Look at the people who agree with you!</a>

    {{> formDeleteSignature }}

</div>
