* {
    box-sizing:border-box;
    font-family: Calibri;
    color: darkblue;
}

body {
    margin: 0;
}


canvas {
    border: 3px black solid;
}

body {
    background-color: lightGray;
}

.headerImg {
    width: 100%
}

.nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}
.nav li {
    font-size: 25px;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: darkblue;
    height: 50px;
    position: fixed;
    z-index: 100;
}
/* .nav:hover{
    background-color: red;
} */

.container {
    /* width: 100%; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    border-radius: 8px;
    margin: 5px;
    display:block;
    width: 300px;
    height: 30px;
    font-size: 20px;
}


.form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit {
    background-color: darkGrey;
    padding: 5px;
    border: 5px solid black;
    border-radius: 60px;
    width: 200px;
    font-size: 24px;
    margin: 5px;
    cursor: pointer;
    box-shadow: 0 9px #999;
}

.submit:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

a {
    text-decoration: none;
}

nav a {
    color: white;
}

nav a:hover {
    color: red;
}

.titleContainer {
    position: relative;
}

.title {
    /* border: 1px solid red; */
    font-size: 40px;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    transform: translateY(-50%);
}

.param{
    width: 120px;
}

.fieldEdit {
    display: flex;
}

.borderForm {
    padding: 10px;
    border-radius: 20px;
    border: 3px solid darkblue;
}

.imgSignature {
    border: 3px black solid;
}
